.home #section-1 p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
}
.blog #section1 > div > .row {
  justify-content: start;
}
.blog h3.title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.blog .widget.card-listing {
  height: 100%;
}
.single-post .image {
  margin-top: 57px;
}
.single-post h3 {
  font-size: 28px;
  line-height: 38px;
}
.single-post p,
.single-post span {
  font-size: 18px;
  line-height: 28px;
}
.single-post #hero-cover h1 {
  text-shadow: 2px 2px 2px #000;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 0;
}
.single-post #hero-cover h2 {
  font-size: 30px;
  line-height: 40px;
}
.single-post .entry-content {
  margin: 0;
}
.single-post .author {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.single-post h3,
.single-post h4 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.single-post h3 + h3,
.single-post h4 + h4 {
  margin-top: 10px;
}

.single-post .author .avatar {
  margin-right: 10px;
}
.single-post .author .avatar img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.single-post .author .info {
  display: flex;
  flex-direction: column;
}
.single-post .author .info span {
  margin: 0;
}

.single-post .author .info .name {
  font-weight: 500;
}
.blog .pagination,
.category .pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.blog .pagination .page-numbers,
.category .pagination .page-numbers {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}
.blog .pagination ul.page-numbers,
.category .pagination ul.page-numbers {
  display: flex;
  list-style-type: none;
  background: none;
  border: none;
}
.blog .pagination a.page-numbers:hover,
.category .pagination a.page-numbers:hover,
.blog .pagination .page-numbers.current,
.category .pagination .page-numbers.current {
  color: rgba(255,255,255,0.9);
  background: linear-gradient(-45deg, #255fca, #ff3d77, #ff7033, #8e15a6);
  background-size: 600%;
	transition: all 0.2s ease-in-out;
	-webkit-animation: animate-background 12s linear infinite;
          animation: animate-background 12s linear infinite;
}
.category-list {
  margin-bottom: 30px;
}
.category-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0;
}
.category-list ul li {
  margin: 0;
}
.category-list a.button.style-2 span {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  display: block;
}
.page-template-template-account .suspended {
  display: block;
  background: darkred;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
.page-template-template-account .suspended h4,
.page-template-template-account .suspended a,
.page-template-template-account .suspended p {
  color: #FFF;
}
.page-template-template-account .button-link {
  position: absolute;
  bottom: 10px;
  left: 5%;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  background-color: rgba(255,255,255,0.8)
}
.page-template-template-account .button-link span {
  margin: 0;
}
.page-template-template-account .content-area.tickets a {
  text-decoration: none;
}
.page-template-template-account .component.card.wide .image {
  width: 30%;
  position: relative;
}
.page-template-template-account .component.card.wide .inner {
  width: 60%;
  flex-direction: column;
  margin-left: 20px;
}
.page-template-template-account .component.card.wide .inner .title-description {
  margin-bottom: 0;
}
.page-template-template-account .component.card.wide .card-note {
  background: rgba(185, 185, 185, 0.2);
  padding: 10px;
  border-radius: 10PX;
  width: 70%;
  margin-top: 20px;
} 
.page-template-template-account .component.card.wide .qr-code.placeholder {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  padding: 10px;
  border-radius: 20px;
}
.page-template-template-account .component.card.wide .qr-code.placeholder span {
  margin: 0;
}
.page-template-template-account .component.card.wide .qr-code .qr-container {
  width: 140px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}
.page-template-template-account .component.card.wide .qr-code .qr-image {
  width: 100%;
}
.page-template-template-account .component.card.wide .qr-code .qr-logo {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: .6;
  mix-blend-mode: multiply;
}
.page-template-template-account .component.card.wide .qr-code .qr-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(-45deg, rgba(57, 98, 173, 0.4), rgba(63, 86, 121, 0.4), rgba(255,112,51,0.4), rgba(142,21,166,0.4)); */
  background: linear-gradient(-45deg,rgba(37, 95, 202, 0.4),rgba(255, 61, 119, 0.4),rgba(255, 112, 51, 0.4),rgba(142, 21, 166, 0.4));
  background-size: 600%;
  mix-blend-mode: multiply;
  -webkit-animation: animate-background 12s linear infinite;
  animation: animate-background 12s linear infinite;
}
.page-template-template-account .component.card.wide .inner {
  width: 65%;
}
.page-template-template-account .component.card.wide .information .qr-code {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.page-template-template-account .wait-list .component.card .information > span.card-note {
  color: rgb(204, 11, 11);
}
.page-template-template-about .team-member {
  clear: both;
  margin-bottom: 40px;
}
.page-template-template-about .team-member {
  clear: both;
  margin-bottom: 40px;
}

.page-template-template-about .team-member.left .description {
  margin-left: 130px;
}

.page-template-template-about .image-switcher {
  width: 270px;
  height: 275px;
  position: relative;
  margin: 0;
}

.page-template-template-about .image-switcher.left {
  float: left;
  margin: 20px 50px 0 -190px;
  transform: rotate(-10deg);
}

.page-template-template-about .image-switcher.right {
  float: right;
  margin: 20px -190px 0 20px;
  transform: rotate(10deg);
}

.page-template-template-about .image-switcher .image-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page-template-template-about .image-switcher .image-container > div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-template-template-about .image-switcher .image-one {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.page-template-template-about .image-switcher .image-two {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.page-template-template-about .polaroid-container {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px 10px 30px;
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 3px;
}

.page-template-template-about .polaroid-container .polaroid-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-template-template-about .polaroid-container .polaroid-caption {
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.page-template-template-admin .admin-content {
  width: 90%;
  margin: 0 auto;
}
.page-template-template-admin table {
  border-collapse: collapse;
}
.page-template-template-admin table p {
  margin-bottom: 5px;
}
.page-template-template-admin th, td {
  text-align: left;
  padding: 8px;
}
.page-template-template-admin .events th {
  /* border: 1px solid #d0d0d0; */
}
.page-template-template-admin .events td {
  padding: 28px 8px;
  border-bottom: 1px solid #d0d0d0;
}
.page-template-template-admin .checked-in {
  color: #139d13;
}
.page-template-template-admin .not-checked-in {
  color: #e60000;
}
.page-template-template-admin tr:nth-child(even) {
  background-color: #f2f2f2
}
.page-template-template-admin .success-message {
  background: #139d13;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
.page-template-template-admin .success-message p {
  color: white;
}
.page-template-template-admin .admin-content.tools .content-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.page-template-template-admin .admin-content.tools .content-area form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto 0;
}
.page-template-template-admin .admin-content.tools .content-area form .checkbox {
  margin-bottom: 0;
}
.page-template-template-admin .admin-content.tools .content-area form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.page-template-template-admin .admin-content.tools .qr-code-output img {
  width: 200px;
  margin: 0 auto;
}
.page-template-template-admin .admin-content.tools .url-generator h4 {
  margin: 0;
  line-height: 20px;
}
.page-template-template-admin .admin-content.tools .social-share-url textarea {
  width: 100%;
  border: 0;
  outline: none;
  text-align: center;
  color: black;
  white-space: pre-wrap;
  word-wrap: anywhere;
  resize: none;
}
.page-template-template-admin .admin-content.tools .social-share-url {
  margin: 10px 0;
  text-wrap: auto;
  word-wrap: anywhere;
}
.page-template-template-admin .admin-content.tools .social-share-preview {
  position: relative;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-template-template-admin .admin-content.tools .social-share-preview a {
  text-decoration: none;
}
.page-template-template-admin .admin-content.tools .social-share-preview h4 {
  margin: 10px 0;
}
.page-template-template-admin .admin-content.tools .social-share-preview .image {
  position: relative;
}
.page-template-template-admin .admin-content.tools .social-share-preview .image .download {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.page-template-template-admin .admin-content.tools .social-share-preview .image .download i {
  font-size: 1.5rem;
}
.page-template-template-admin .admin-content.tools .social-share-preview h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 22px;
}
.page-template-template-admin .admin-content.tools .social-share-preview .description {
  background: #f5f5f5;
  text-align: left;
  padding: 10px;
}
.page-template-template-admin .admin-content.tools .social-share-preview span {
  line-height: 14px;
}
.page-template-template-admin .admin-content.tools .social-share-preview span,
.page-template-template-admin .admin-content.tools .social-share-preview p,
.page-template-template-admin .admin-content.tools .social-share-preview .url {
  color: #666;
  margin: 0;
  font-size: 12px;
}
.page-template-template-admin .admin-content.tools .social-share-preview .url {
  text-transform: uppercase;
}
.page-template-template-events .follow-us-instagram {
  max-width: 90%;
  margin: 0 auto 30px;
}
.page-template-template-events .follow-us-instagram .right {
  text-align: right;
}
.page-template-template-events #ticket-modal .follow-us-instagram {
  max-width: 50%;
  margin-top: 30px;
}
